html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 3.2em;
    margin: 0 0 .67em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

strong {
    font-weight: inherit;
    font-weight: 700
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible
}

button {
    text-transform: none
}

[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
    background: transparent;
    outline: 0
}

[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

a,
body,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
header,
html,
input[type=email],
input[type=text],
li,
p,
section,
ul {
    box-sizing: border-box
}

img {
    max-width: 100%
}

.outline-0 {
    outline: 0
}

.ba {
    border-style: solid;
    border-width: 1px
}

.bt {
    border-top-style: solid;
    border-top-width: 1px
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.bn {
    border-style: none;
    border-width: 0
}

.b--near-black {
    border-color: #1a2024
}

.b--green {
    border-color: #adcb2b
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.bottom-2 {
    bottom: 2rem
}

.cf:after,
.cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}

.cb {
    clear: both
}

.dn {
    display: none
}

.db {
    display: block
}

.dt {
    display: table
}

.dtc {
    display: table-cell
}

.flex {
    display: -ms-flexbox;
    display: flex
}

.flex-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-row {
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.items-end {
    -ms-flex-align: end;
    align-items: flex-end
}

.items-center {
    -ms-flex-align: center;
    align-items: center
}

.justify-center {
    -ms-flex-pack: center;
    justify-content: center
}

.justify-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.content-center {
    -ms-flex-line-pack: center;
    align-content: center
}

.fl {
    float: left;
    _display: inline
}

.fw7 {
    font-weight: 700
}

.h3 {
    height: 4rem
}

.vh-100 {
    height: 100vh
}

.link {
    text-decoration: none
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
    transition: color .15s ease-in
}

.link:focus {
    outline: 0
}

.list {
    list-style-type: none
}

.mw2 {
    max-width: 2rem
}

.mw3 {
    max-width: 4rem
}

.mw8 {
    max-width: 72rem
}

.mw9 {
    max-width: 76rem
}

.w-30 {
    width: 30%
}

.w-50 {
    width: 50%
}

.w-100 {
    width: 100%
}

.overflow-y-hidden {
    overflow-y: hidden
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.near-black {
    color: #1a2024
}

.silver {
    color: #999
}

.white {
    color: #fff
}

.green {
    color: #adcb2b
}

.light-green {
    color: #bbdc2f
}

.navy {
    color: #0b0340
}

.dark-blue {
    color: #0c005f
}

.blue {
    color: #54a2ff
}

.light-blue {
    color: #67acff
}

.bg-navy-70 {
    background-color: rgba(11, 3, 64, .7)
}

.bg-near-black {
    background-color: #1a2024
}

.bg-white {
    background-color: #fff
}

.bg-transparent {
    background-color: transparent
}

.bg-green {
    background-color: #adcb2b
}

.bg-navy {
    background-color: #0b0340
}

.bg-dark-blue {
    background-color: #0c005f
}

.hover-white:focus,
.hover-white:hover {
    color: #fff
}

.hover-blue:focus,
.hover-blue:hover {
    color: #54a2ff
}

.pa2 {
    padding: .5rem
}

.pa3 {
    padding: 1rem
}

.pa4 {
    padding: 2rem
}

.pr2 {
    padding-right: .5rem
}

.pb0 {
    padding-bottom: 0
}

.pb1 {
    padding-bottom: .25rem
}

.pb2 {
    padding-bottom: .5rem
}

.pb3 {
    padding-bottom: 1rem
}

.pb6 {
    padding-bottom: 5rem
}

.pt3 {
    padding-top: 1rem
}

.pt4 {
    padding-top: 2rem
}

.pt6 {
    padding-top: 5rem
}

.pv1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.pv6 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.pv7 {
    padding-top: 13rem;
    padding-bottom: 13rem
}

.ph1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem
}

.ma0 {
    margin: 0
}

.mb0 {
    margin-bottom: 0
}

.mb2 {
    margin-bottom: .5rem
}

.mb3 {
    margin-bottom: 1rem
}

.mb4 {
    margin-bottom: 2rem
}

.mt2 {
    margin-top: .5rem
}

.mt4 {
    margin-top: 2rem
}

.mv2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mv4 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.nb1 {
    margin-bottom: -.25rem
}

.nb3 {
    margin-bottom: -1rem
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.ttu {
    text-transform: uppercase
}

.f1 {
    font-size: 2.5rem
}

.f2 {
    font-size: 1.75rem
}

.f3 {
    font-size: 1.4rem
}

.f4 {
    font-size: 1.2rem
}

.f5 {
    font-size: 1rem
}

.f6 {
    font-size: .875rem
}

.f7 {
    font-size: .75rem
}

.center {
    margin-right: auto;
    margin-left: auto
}

.v-mid {
    vertical-align: middle
}

.v-btm {
    vertical-align: bottom
}

.dim {
    opacity: 1
}

.dim,
.dim:focus,
.dim:hover {
    transition: opacity .15s ease-in
}

.dim:focus,
.dim:hover {
    opacity: .5
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out
}

.z-0 {
    z-index: 0
}

.z-1 {
    z-index: 1
}

.z-2 {
    z-index: 2
}

.z-3 {
    z-index: 3
}

@media screen and (min-width:45em) {
    .flex-ns {
        display: -ms-flexbox;
        display: flex
    }
    .flex-column-ns {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .flex-row-ns {
        -ms-flex-direction: row;
        flex-direction: row
    }
    .flex-wrap-ns {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .justify-between-ns {
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .w-50-ns {
        width: 50%
    }
    .w-60-ns {
        width: 60%
    }
    .w-70-ns {
        width: 70%
    }
    .w-third-ns {
        width: 33.33333%
    }
    .w-two-thirds-ns {
        width: 66.66667%
    }
    .fixed-ns {
        position: fixed
    }
    .pa4-ns {
        padding: 2rem
    }
    .pb5-ns,
    .pv5-ns {
        padding-bottom: 2.5rem
    }
    .pv5-ns {
        padding-top: 2.5rem
    }
    .pv7-ns {
        padding-top: 13rem;
        padding-bottom: 13rem
    }
    .ph0-ns {
        padding-left: 0;
        padding-right: 0
    }
    .mh2-ns {
        margin-left: .5rem;
        margin-right: .5rem
    }
    .tl-ns {
        text-align: left
    }
    .f0-ns {
        font-size: 3rem
    }
}

@media screen and (min-width:60em) {
    .dn-l {
        display: none
    }
    .w-25-l {
        width: 25%
    }
}

button,
input {
    font-family: Cousine, monospace;
    color: #fff;
    border-radius: 0;
    resize: none;
    font-weight: 400
}

li,
ul {
    padding: 0;
    list-style: none;
    margin: 0
}

input:-ms-input-placeholder {
    color: #fff;
    font-weight: 400
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #fff;
    font-weight: 400
}

body {
    font-family: Cousine, monospace;
    overflow-x: hidden;
    font-size: 1rem;
    color: #0c005f
}

a {
    cursor: pointer
}

html {
    position: relative;
    overflow-x: hidden;
    height: 100%
}

:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Archivo Black, sans-serif
}

.headings {
    position: absolute;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translate3d(0, -100%, 0);
    text-transform: uppercase;
    display: block;
    left: -.5rem;
    top: -1rem
}

@media screen and (max-width:60em) {
    .dn-ms {
        display: none
    }
    .headings {
        position: relative;
        transform: rotate(0);
        left: 0;
        text-align: center;
        width: 100%
    }
}

.header {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-property: transform
}

.header--hidden {
    transform: translateY(-100%)
}

@keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.fadeIn {
    animation-name: a
}

.introloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0b0340;
    z-index: 5
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border: 5px solid #0c005f;
    border-radius: 50%
}

.spinner-inner {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #adcb2b transparent transparent;
    animation: b 1s linear infinite
}

@keyframes b {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

#toggle-menu {
    height: 46px
}

#toggle-menu:after {
    display: block;
    height: 4px;
    width: 20px;
    margin-top: 6px;
    border-top: 2px solid #adcb2b;
    border-bottom: 2px solid #adcb2b;
    content: ""
}

#toggle-menu:before {
    transition: all .3s ease;
    position: absolute;
    display: block;
    height: 2px;
    width: 20px;
    background: #adcb2b;
    content: ""
}

#toggle-menu.menu-opened {
    position: relative
}

#toggle-menu.menu-opened:after {
    transition: all .3s ease;
    border: 0;
    margin: 0;
    height: 2px;
    width: 19px;
    background: #adcb2b;
    transform: rotate(45deg)
}

#toggle-menu.menu-opened:before {
    background: #adcb2b;
    width: 19px;
    margin: 0;
    transform: rotate(-45deg)
}

.parallax {
    overflow: hidden;
    top: 0
}

.bg-trama,
.parallax {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0
}

.bg-trama {
    background-repeat: repeat;
    background-position: top;
    background-size: 70%
}

.trama-1 {
    background-image: url(../assets/images/header.png)
}

.trama-2 {
    background-image: url(../assets/images/header-2.png)
}

.diagonal {
    background: linear-gradient(to right top, rgba(11, 3, 64, .6) 50%, rgba(12, 0, 95, 0) 0);
    min-height: 768px;
    height: 100%
}

.go-map .tooltip,
.go-map .tooltip:before {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase
}

.go-map .tooltip:after,
.go-map .tooltip:before {
    content: " ";
    position: absolute
}

.go-map .tooltip {
    background: #4a90e2;
    bottom: 50px;
    color: #1a2024;
    right: 50%;
    margin-right: -35px;
    opacity: 0;
    padding: 5px 10px;
    font-size: 12px;
    transform: translateY(10px);
    transition: all .3s ease-out
}

.go-map .tooltip:before {
    bottom: -20px;
    height: 20px
}

.go-map .tooltip:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #4a90e2;
    top: 23px;
    height: 0;
    margin-left: -35px;
    width: 0
}

.go-map:hover .tooltip {
    opacity: 1;
    transform: translateY(0)
}

.profile-img {
    position: relative;
    height: 264px;
    width: 100%;
    overflow-y: hidden
}

.profile .off,
.profile .on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.profile .on {
    opacity: 1;
    transition: all .3s ease-in;
    z-index: 2
}

.profile .off {
    z-index: 1
}

.profile .type {
    transition: all .3s ease-in;
    text-transform: uppercase;
    font-size: .875rem;
    padding: .5rem .75rem 0 0;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #0b0340;
    z-index: 3;
    margin: 0
}

.profile .type,
.profile:hover .on {
    opacity: 0
}

.profile:hover .type {
    opacity: 1
}

.btn {
    transition: all .15s ease-in;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem 3rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 9999px;
    border-style: solid;
    border-width: 2px;
    font-family: Archivo Black, sans-serif
}

.btn-transparent {
    border-color: #fff;
    color: #fff;
    background-color: transparent
}

.btn-transparent:hover,
.btn-white {
    border-color: #fff;
    color: #0c005f;
    background-color: #fff
}

.btn-white:hover {
    border-color: #0c005f;
    background-color: #adcb2b
}

.btn-disable,
.btn-disable:hover {
    border-color: #0c005f;
    color: #0c005f;
    background-color: transparent;
    opacity: .6
}

.back-form {
    background-image: url(../assets/images/bg-form.jpg);
    background-size: cover;
    padding: 5rem 0
}

.mc-form {
    width: 400px;
    margin: 20px
}

.mc-submit {
    border: 2px solid #fff;
    color: #fff;
    background-color: #0c005f;
    text-align: center;
    padding: 2px;
    height: 60px;
    width: 60px;
    text-transform: uppercase;
    font-size: 16px;
    float: left;
    transition: all .15s ease-in
}

.mc-submit:hover {
    background: #4a90e2
}

.mc-protection {
    visibility: hidden;
    width: 0;
    float: left
}

.mc-input {
    float: left;
    font-size: 16px;
    padding-left: 15px;
    line-height: 60px;
    height: 60px;
    background-color: #0c005f;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: none;
    color: #fff;
    width: calc(100% - 62px)
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.sponsors-logos li {
    background-color: #0b0332
}

.sponsors-logos li:hover {
    background-color: #0c005f
}

.sponsors-logos .platino li {
    max-width: 360px
}

.sponsors-logos .gold li {
    max-width: 310px
}

.sponsors-logos .silver li {
    max-width: 260px
}

.sponsors-logos .startup li {
    max-width: 210px
}

.sponsors-logos .media-partners li,
.sponsors-logos .media-partners li img {
    height: 55px;
    background: transparent
}

.picture {
    height: 370px;
    overflow: hidden;
    position: relative
}

.name {
    position: absolute;
    bottom: 0;
    padding: 7rem 1.5rem 1.5rem;
    width: 100%
}

.name h1,
.name p {
    position: relative;
    z-index: 1
}

.name h1 {
    line-height: 2.5rem
}

.name:after {
    content: "";
    display: block;
    background: transparent;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .7));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}

.bg-picture {
    background-color: #060649
}

.tab {
    overflow: hidden
}

.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    color: #adcb2b
}

.tab button.active,
.tab button:hover {
    border-bottom: 1px solid #060649;
    color: #060649
}

.tabcontent {
    display: none;
    animation: a 1s
}