html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 3.2em;
    margin: 0 0 .67em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

strong {
    font-weight: inherit;
    font-weight: 700
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible
}

button {
    text-transform: none
}

[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
    background: transparent;
    outline: 0
}

[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

a,
body,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
header,
html,
input[type=email],
input[type=text],
li,
p,
section,
ul {
    box-sizing: border-box
}

img {
    max-width: 100%
}

.outline-0 {
    outline: 0
}

.ba {
    border-style: solid;
    border-width: 1px
}

.bt {
    border-top-style: solid;
    border-top-width: 1px
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.bn {
    border-style: none;
    border-width: 0
}

.b--navy {
    border-color: #0b0340
}

.b--green {
    border-color: #adcb2b
}

.b--dark-blue {
    border-color: #0c005f
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.bottom-2 {
    bottom: 2rem
}

.top--1 {
    top: -1rem
}

.cf:after,
.cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}

.cb {
    clear: both
}

.dn {
    display: none
}

.db {
    display: block
}

.dt {
    display: table
}

.dtc {
    display: table-cell
}

.flex {
    display: -ms-flexbox;
    display: flex
}

.flex-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-row {
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.items-end {
    -ms-flex-align: end;
    align-items: flex-end
}

.items-center {
    -ms-flex-align: center;
    align-items: center
}

.justify-start {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-center {
    -ms-flex-pack: center;
    justify-content: center
}

.justify-around { 
    -ms-flex-pack: distribute; 
    justify-content: space-around; 
}

.justify-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.content-center {
    -ms-flex-line-pack: center;
    align-content: center
}

.fl {
    float: left;
    _display: inline
}

.fn {
    float: none
}

.fw7 {
    font-weight: 700
}

.h3 {
    height: 4rem
}

.vh-100 {
    height: 100vh
}

.link {
    text-decoration: none
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
    transition: color .15s ease-in
}

.link:focus {
    outline: 0
}

.list {
    list-style-type: none
}

.mw2 {
    max-width: 2rem
}

.mw3 {
    max-width: 4rem
}

.mw8 {
    max-width: 72rem
}

.mw9 {
    max-width: 76rem
}

.w-30 {
    width: 30%
}

.w-50 {
    width: 50%
}

.w-80 {
    width: 80%
}

.w-100 {
    width: 100%
}

.overflow-y-hidden {
    overflow-y: hidden
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.near-black {
    color: #0b0340
}

.silver {
    color: #999
}

.white {
    color: #fff
}

.green {
    color: #adcb2b
}

.navy {
    color: #0b0340
}

.dark-blue {
    color: #0c005f
}

.blue {
    color: #54a2ff
}

.light-blue {
    color: #67acff
}

.bg-navy-70 {
    background-color: rgba(11, 3, 64, .7)
}

.bg-white {
    background-color: #fff
}

.bg-transparent {
    background-color: transparent
}

.bg-green {
    background-color: #adcb2b
}

.bg-navy {
    background-color: #0b0340
}

.bg-dark-blue {
    background-color: #0c005f
}
.bg-blue {
    background-color: #54a2ff
}

.hover-white:focus,
.hover-white:hover {
    color: #fff
}

.hover-blue:focus,
.hover-blue:hover {
    color: #54a2ff
}

.pa2 {
    padding: .5rem
}

.pa3 {
    padding: 1rem
}

.pa4 {
    padding: 2rem
}

.pl4 {
    padding-left: 2rem
}

.pr2 {
    padding-right: .5rem
}

.pb0 {
    padding-bottom: 0
}

.pb1 {
    padding-bottom: .25rem
}

.pb2 {
    padding-bottom: .5rem
}

.pb3 {
    padding-bottom: 1rem
}

.pb4 {
    padding-bottom: 2rem
}

.pb6 {
    padding-bottom: 5rem
}

.pt3 {
    padding-top: 1rem
}

.pt4 {
    padding-top: 2rem
}

.pt6 {
    padding-top: 5rem
}

.pv1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.pv6 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.pv7 {
    padding-top: 13rem;
    padding-bottom: 13rem
}

.ph1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem
}

.ma0 {
    margin: 0
}

.mb0 {
    margin-bottom: 0
}

.mb2 {
    margin-bottom: .5rem
}

.mb3 {
    margin-bottom: 1rem
}

.mb4 {
    margin-bottom: 2rem
}

.mt2 {
    margin-top: .5rem
}

.mt3 {
    margin-top: 1rem
}

.mt4 {
    margin-top: 2rem
}

.mt5 {
    margin-top: 4rem
}

.mv2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mv4 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.mv5 {
    margin-top: 4rem;
    margin-bottom: 4rem
}

.nl4 {
    margin-left: -2rem
}

.nb1 {
    margin-bottom: -.25rem
}

.nb3 {
    margin-bottom: -1rem
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.ttu {
    text-transform: uppercase
}

.f1 {
    font-size: 2.2rem
}

.f2 {
    font-size: 1.75rem
}

.f3 {
    font-size: 1.4rem
}

.f4 {
    font-size: 1.2rem
}

.f5 {
    font-size: 1rem
}

.f6 {
    font-size: .875rem
}

.f7 {
    font-size: .75rem
}

.center {
    margin-right: auto;
    margin-left: auto
}

.v-mid {
    vertical-align: middle
}

.v-btm {
    vertical-align: bottom
}

.dim {
    opacity: 1
}

.dim,
.dim:focus,
.dim:hover {
    transition: opacity .15s ease-in
}

.dim:focus,
.dim:hover {
    opacity: .5
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out
}

.z-0 {
    z-index: 0
}

.z-1 {
    z-index: 1
}

.z-2 {
    z-index: 2
}

.z-3 {
    z-index: 3
}

@media screen and (min-width:45em) {
    .flex-ns {
        display: -ms-flexbox;
        display: flex
    }

    .flex-column-ns {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .flex-row-ns {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .flex-wrap-ns {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .justify-start-ns {
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .justify-between-ns {
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .justify-center-ns {
        -ms-flex-pack: center;
        justify-content: center
    }

    .fr-ns {
        float: right;
        display: inline
    }

    .w-50-ns {
        width: 50%
    }

    .w-60-ns {
        width: 60%
    }

    .w-70-ns {
        width: 70%
    }

    .w-90-ns {
        width: 90%
    }

    .w-third-ns {
        width: 33.33333%
    }

    .w-two-thirds-ns {
        width: 66.66667%
    }

    .fixed-ns {
        position: fixed
    }

    .pa4-ns {
        padding: 2rem
    }

    .pb5-ns,
    .pv5-ns {
        padding-bottom: 2.5rem
    }

    .pv5-ns {
        padding-top: 2.5rem
    }

    .pv7-ns {
        padding-top: 13rem;
        padding-bottom: 13rem
    }

    .ph0-ns {
        padding-left: 0;
        padding-right: 0
    }

    .mh2-ns {
        margin-left: .5rem;
        margin-right: .5rem
    }

    .tl-ns {
        text-align: left
    }

    .f0-ns {
        font-size: 3rem
    }
}

@media screen and (min-width:60em) {
    .dn-l {
        display: none
    }

    .w-25-l {
        width: 25%
    }
}

button,
input {
    font-family: Cousine, monospace;
    color: #fff;
    border-radius: 0;
    resize: none;
    font-weight: 400
}

li,
ul {
    padding: 0;
    list-style: none;
    margin: 0
}

input:-ms-input-placeholder {
    color: #fff;
    font-weight: 400
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #fff;
    font-weight: 400
}

body {
    font-family: Cousine, monospace;
    overflow-x: hidden;
    font-size: 1rem;
    color: #0c005f
}

a {
    cursor: pointer
}

html {
    position: relative;
    overflow-x: hidden;
    height: 100%
}

:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Archivo Black, sans-serif
}

.headings {
    position: absolute;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translate3d(0, -100%, 0);
    text-transform: uppercase;
    display: block;
    left: -.5rem;
    top: -1rem
}

@media screen and (max-width:60em) {
    .dn-ms {
        display: none
    }

    .headings {
        position: relative;
        transform: rotate(0);
        left: 0;
        text-align: center;
        width: 100%
    }
}

.header {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-property: transform
}

.header--hidden {
    transform: translateY(-100%)
}

@keyframes a {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.fadeIn {
    animation-name: a
}

.introloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0b0340;
    z-index: 5
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border: 5px solid #0c005f;
    border-radius: 50%
}

.spinner-inner {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #adcb2b transparent transparent;
    animation: b 1s linear infinite
}

@keyframes b {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

#toggle-menu {
    height: 46px
}

#toggle-menu:after {
    display: block;
    height: 4px;
    width: 20px;
    margin-top: 6px;
    border-top: 2px solid #adcb2b;
    border-bottom: 2px solid #adcb2b;
    content: ""
}

#toggle-menu:before {
    transition: all .3s ease;
    position: absolute;
    display: block;
    height: 2px;
    width: 20px;
    background: #adcb2b;
    content: ""
}

#toggle-menu.menu-opened {
    position: relative
}

#toggle-menu.menu-opened:after {
    transition: all .3s ease;
    border: 0;
    margin: 0;
    height: 2px;
    width: 19px;
    background: #adcb2b;
    transform: rotate(45deg)
}

#toggle-menu.menu-opened:before {
    background: #adcb2b;
    width: 19px;
    margin: 0;
    transform: rotate(-45deg)
}

.parallax {
    overflow: hidden;
    top: 0
}

.bg-trama,
.parallax {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0
}

.bg-trama {
    background-repeat: repeat;
    background-position: top;
    background-size: 70%
}

.trama-1 {
    background-image: url(../assets/images/header.png)
}

.trama-2 {
    background-image: url(../assets/images/header-2.png)
}

.diagonal {
    background: linear-gradient(to right top, rgba(11, 3, 64, .6) 50%, rgba(12, 0, 95, 0) 0);
    min-height: 768px;
    height: 100%
}

.go-map .tooltip,
.go-map .tooltip:before {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase
}

.go-map .tooltip:after,
.go-map .tooltip:before {
    content: " ";
    position: absolute
}

.go-map .tooltip {
    background: #4a90e2;
    bottom: 50px;
    color: #0b0340;
    right: 50%;
    margin-right: -35px;
    opacity: 0;
    padding: 5px 10px;
    font-size: 12px;
    transform: translateY(10px);
    transition: all .3s ease-out
}

.go-map .tooltip:before {
    bottom: -20px;
    height: 20px
}

.go-map .tooltip:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #4a90e2;
    top: 23px;
    height: 0;
    margin-left: -35px;
    width: 0
}

.go-map:hover .tooltip {
    opacity: 1;
    transform: translateY(0)
}

.profile-img {
    position: relative;
    height: 264px;
    width: 100%;
    overflow-y: hidden
}

.profile .off,
.profile .on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.profile .on {
    opacity: 1;
    transition: all .3s ease-in;
    z-index: 2
}

.profile .off {
    z-index: 1
}

.profile .type {
    transition: all .3s ease-in;
    text-transform: uppercase;
    font-size: .875rem;
    padding: .5rem .75rem 0 0;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #0b0340;
    z-index: 3;
    margin: 0
}

.profile .type,
.profile:hover .on {
    opacity: 0
}

.profile:hover .type {
    opacity: 1
}

.btn {
    transition: all .15s ease-in;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem 3rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 9999px;
    border-style: solid;
    border-width: 2px;
    font-family: Archivo Black, sans-serif
}

.btn-transparent {
    border-color: #fff;
    color: #fff;
    background-color: transparent
}

.btn-transparent:hover,
.btn-white {
    border-color: #fff;
    color: #0c005f;
    background-color: #fff
}

.btn-disable,
.btn-disable:hover,
.btn-white:hover {
    border-color: #0c005f;
    background-color: transparent
}

.btn-disable,
.btn-disable:hover {
    color: #0c005f;
    opacity: .6
}

.back-form {
    background-image: url(../assets/images/bg-form.jpg);
    background-size: cover;
    padding: 5rem 0
}

.mc-form {
    width: 400px;
    margin: 20px
}

.mc-submit {
    border: 2px solid #fff;
    color: #fff;
    background-color: #0c005f;
    text-align: center;
    padding: 2px;
    height: 60px;
    width: 60px;
    text-transform: uppercase;
    font-size: 16px;
    float: left;
    transition: all .15s ease-in
}

.mc-submit:hover {
    background: #4a90e2
}

.mc-protection {
    visibility: hidden;
    width: 0;
    float: left
}

.mc-input {
    float: left;
    font-size: 16px;
    padding-left: 15px;
    line-height: 60px;
    height: 60px;
    background-color: #0c005f;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: none;
    color: #fff;
    width: calc(100% - 62px)
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.sponsors-logos li {
    background-color: #0b0332
}

.sponsors-logos li:hover {
    background-color: #0c005f
}

.sponsors-logos .platino li {
    max-width: 360px;
    height: 136px;
}

.sponsors-logos .gold li {
    max-width: 310px;
    height: 117px;
}

.sponsors-logos .silver li {
    max-width: 260px;
    height: 98px;
}

.sponsors-logos .startup li {
    max-width: 210px;
    height: 79px;
}

.sponsors-logos .media-partners li,
.sponsors-logos .media-partners li img {
    max-height: 55px;
    background: transparent
}

.picture {
    height: 370px;
    overflow: hidden;
    position: relative
}

.name {
    position: absolute;
    bottom: 0;
    padding: 7rem 1.5rem 1.5rem;
    width: 100%
}

.name h1,
.name p {
    position: relative;
    z-index: 1
}

.name h1 {
    line-height: 2.4rem
}

.name:after {
    content: "";
    display: block;
    background: transparent;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .7));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}

.bg-picture {
    background-color: #060649
}
.h-370 {
    height: 370px;
    overflow: hidden;
}
.read-more-trigger,
.read-more-state {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #060649;
    color: #060649;
}
.read-more-state {
    display: none;
}
.read-more-wrap {
    margin: 0 0 5px 0;
}
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'Show less';
}

.tab {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex
}

.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    color: #adcb2b
}

.tab.sch {
    padding-bottom: 1rem;
    font-size: 1rem;
}

.tab.sch button {
    font-family: Archivo Black, sans-serif;
    border-bottom: 1px solid transparent;
    color: #adcb2b;
    padding: 10px;
}

.tab button.active,
.tab button:hover {
    border-bottom: 1px solid #060649;
    color: #060649
}

.tab.sch button.active,
.tab.sch button:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.tabcontent {
    display: none;
    animation: a 1s
}

.ticket-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 985.3 985.3' style='enable-background:new 0 0 985.3 985.3;' xml:space='preserve'%3e%3cpath fill='%230c005f' d='M868.6,492.8c-4.4,22.1-24,38.2-47.5,39.2c-7.4,0.3-13.7,5.7-15.1,13c-1.5,7.3,2.2,14.7,8.9,17.8 c21.3,10,33.2,32.4,28.7,54.5l-4.2,21c-5.5,27.7-36.1,45-62.9,38.4c-7.5-1.8-15.2-3.2-22.8-4.7c-11.2-2.2-22.4-4.5-33.6-6.7 c-14.8-3-29.6-5.9-44.4-8.9c-17.6-3.5-35.3-7.1-52.9-10.6c-19.7-4-39.4-7.9-59.1-11.9c-21-4.2-42.1-8.4-63.1-12.7 c-21.6-4.3-43.2-8.7-64.7-13c-21.4-4.3-42.7-8.6-64.1-12.9c-20.4-4.1-40.8-8.2-61.2-12.3c-18.7-3.7-37.3-7.5-56-11.2 c-16.2-3.2-32.4-6.5-48.5-9.7c-12.9-2.6-25.8-5.2-38.8-7.8c-8.9-1.8-17.8-3.6-26.7-5.4c-4.1-0.8-8.2-1.7-12.3-2.5 c-0.2,0-0.4-0.1-0.6-0.1c2.2,10.4,1.2,21.5-3.6,31.9C114,600,90.5,611.4,67.9,607c-6.7-1.3-14,1.2-16.9,7.4l-9,19.5 c-2.9,6.2,0,13.4,5.3,17.7c1,0.8,721.8,333.1,723,333.4c6.7,1.3,14-1.2,16.9-7.4l9-19.5c2.9-6.2,0-13.4-5.3-17.7 c-18-14.3-24.6-39.6-14.5-61.4c10.1-21.8,33.6-33.2,56.2-28.8c6.7,1.3,14-1.2,16.9-7.4l9-19.5c2.9-6.2,0-13.4-5.3-17.7 c-18-14.3-24.6-39.6-14.5-61.4s33.6-33.2,56.2-28.8c6.7,1.3,14-1.2,16.9-7.4l9-19.5c2.9-6.2,0-13.4-5.3-17.7 c-18-14.3-24.6-39.6-14.5-61.4c10.1-21.8,33.6-33.2,56.2-28.8c6.7,1.3,14-1.2,16.9-7.4l9.9-21.6c2.9-6.2,0.2-13.5-6-16.4 l-107.7-49.7L868.6,492.8z'/%3e%3cpath fill='%230c005f' d='M9.7,485.9c1.2,0.6,779.3,156.7,780.6,156.7c6.8-0.3,13.4-4.5,14.7-11.1l4.2-21c1.3-6.7-3.1-13.1-9.3-16 c-20.8-9.8-33.1-32.8-28.4-56.4c4.7-23.6,25-40.1,48-41.1c6.8-0.3,13.4-4.5,14.7-11.1l3.1-15.4l1.1-5.7c1.3-6.7-3.1-13.1-9.3-16 c-20.8-9.8-33.1-32.8-28.4-56.4c4.7-23.6,25-40.1,48-41.1c6.8-0.3,13.4-4.5,14.7-11.1l4.2-21c1.3-6.7-3.1-13.1-9.3-16 c-20.8-9.8-33.1-32.8-28.4-56.4c4.7-23.6,25-40.1,48-41.1c6.8-0.3,13.4-4.5,14.7-11.1l4.7-23.3c1.3-6.7-3-13.2-9.7-14.5 c0,0-781.9-156.8-782.7-156.8C99.1,0,94,4.1,92.8,9.9l-4.7,23.3c-1.3,6.7,3.1,13.1,9.3,16c20.8,9.8,33.1,32.8,28.4,56.4 s-25,40.1-48,41.1c-6.8,0.3-13.4,4.5-14.7,11.1l-4.2,21c-1.3,6.7,3.1,13.1,9.3,16c20.8,9.8,33.1,32.8,28.4,56.4 c-4.7,23.6-25,40.1-48,41.1c-6.8,0.3-13.4,4.5-14.7,11.1l-4.2,21c-1.3,6.7,3.1,13.1,9.3,16c20.8,9.8,33.1,32.8,28.4,56.4 c-4.7,23.6-25,40.1-48,41.1C12.6,438.2,6,442.4,4.7,449l-4.2,21C-0.9,476.7,3.5,483,9.7,485.9z M676.2,229.6 c2.7-13.5,15.9-22.3,29.4-19.6s22.3,15.9,19.6,29.4l-33,164.2l-20.3,101.2c-2.4,11.9-12.8,20.1-24.5,20.1c-1.6,0-3.3-0.2-4.9-0.5 c-13.5-2.7-22.3-15.9-19.6-29.4l22.7-112.9L676.2,229.6z M225.4,139.1c2.7-13.5,15.9-22.3,29.4-19.6c13.5,2.7,22.3,15.9,19.6,29.4 L263,205.6l-12.9,64.3l-10.4,51.8l-18.5,92.6c-2.4,11.9-12.8,20.1-24.5,20.1c-1.6,0-3.3-0.2-4.9-0.5c-0.7-0.1-1.4-0.3-2-0.5 c-12.4-3.6-20.1-16.1-17.5-28.9l3.7-18.7l9.7-48.4L225.4,139.1z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 10px 0 0
}

.event-card {
    position: relative;
    padding: 0;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    transition: all .15s ease
}

a.event-card:hover .title h4,
a.event-card:hover .time {
    color: #adcb2b
}

a.event-card:hover {
    background-color: #0b0332;
    color: #fff
}

.profile-s,
.profile-s img {
    height: 4rem;
    width: 4rem;
    overflow: hidden
}

.profile-s {
    margin-right: 1rem
}

.event {
    position: relative;
    padding-bottom: 1rem
}

.event:before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #54a2ff;
    bottom: 0;
    height: auto;
    top: 0;
    left: -29px
}

.event.event-header:before {
    top: 40%;
    height: 60%
}

.event.event-footer:before {
    top: -20%;
    height: 60%
}

.event.event-alone:before {
    background-color: transparent;
}

.time {
    color: #54a2ff;
    font-size: 1rem;
    font-family: Archivo Black, sans-serif;
    position: absolute;
    left: -100px;
    width: 100px;
    padding-bottom: 0
}

.time:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #54a2ff;
    left: 66px;
    top: 50%;
    margin-top: -6px
}

.track {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0
}

.track em {
    background: #0c005f;
    color: #fff;
    padding: 5px 10px;
    font-style: normal;
    display: inline-block
}

.title h4,
.title p {
    margin: 0
}

@media screen and (max-width:45em) {
    .time {
        position: relative;
        left: 0;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 auto
    }

    .h-370 {
        height: 100%;
        overflow: visible;
    }

    .event:before,
    .profile-s,
    .time:after {
        display: none
    }

    .date-place,
    .title {
        text-align: center
    }

    .event-card {
        padding: 15px 5px
    }

    .tab {
        font-size: 1.2rem;
    }

    .tab.sch {
        padding: 0;
        background-color: #0c005f;
    }
    .tab.sch button {
        width: 33.33333%;
        padding: 1rem;
        border-bottom: none;
        border-right: solid 3px #0b0340;
    }
    .tab.sch button:last-child {
        border-right: none;
    }
    .tab.sch button.active, 
    .tab.sch button:hover {
        border-bottom: none;
        background-color: #adcb2b;
        color: #060649;
    }
}
